
.root {
  -bg-color: #1a1a1a;
  -fx-background-color: -bg-color;
}

.anchor-pane > .viewport{
    -fx-background-color: -bg-color;
}

.label{
-fx-text-fill: white;
-fx-font-size:15;
-fx-font-weight: bold;
}

.scroll-pane {
-fx-background-color: -bg-color;
-fx-border-color: white;
}

.scroll-pane .viewport {
-fx-background-color: -bg-color;
}

.password-field {
-fx-background-color: -bg-color;
-fx-text-fill: white;
-fx-border-color: white;
}

.choice-box {
-fx-background-color: -bg-color;
-fx-text-fill: white;
-fx-border-color: white;
}

.choice-box .context-menu {
    -fx-background-color: black;
}

.button{
-fx-background-color: grey;
-fx-text-fill: white;
-fx-font-size: 15;
}

.text-field {
-fx-background-color: -bg-color;
-fx-text-fill: white;
-fx-border-color: white;
}

.menu-button{
-fx-background-color: transparent;
}

.profilePicture{
-fx-background-color: transparent;
-fx-text-fill: white;
-fx-font-size: 20;
-fx-font-weight: bold;
}