.root {
  -bg-color: #1a1a1a;
  -fx-background-color: -bg-color;
  -red : #8B0000;
}

.retour-button{
    -fx-background-image: url(file:res/retour.png);
    -fx-background-size: 100px 100px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: black;
    -fx-background-radius: 5em;

}

.anchor-pane > .viewport{
    -fx-background-color: -bg-color;
}