.root {
  -bg-color: #1a1a1a;
  -fx-background-color: -bg-color;
  -red : #8B0000;
}

.retour-button{
    -fx-background-image: url(file:res/retour2.png);
    -fx-background-size: 100px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

.anchor-pane > .viewport{
    -fx-background-color: -bg-color;
}

.pause-button{
    -fx-background-image:url(file:res/pause.png);
    -fx-background-size: 20px;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 6em;
}

.stop-button{
    -fx-background-image:url(file:res/stop.png);
    -fx-background-size: 20px;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 6em;
}

.sound-button{
    -fx-background-image:url(file:res/sound.png);
    -fx-background-size: 20px;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 6em;
}