.scroll-pane > .viewport{
-fx-background-color: #1a1a1a;
}

.scroll-pane {
-fx-background-color: #1a1a1a;
}

.hbox{
-fx-background-color: #0e0e0e;
-fx-border-color: black;
}

.text-field {
-fx-background-color: #1a1a1a;
-fx-text-fill: white;
-fx-border-color: white;
}

.categoryLabel{
-fx-text-fill: white;
-fx-font-size: 20;
-fx-font-weight: bold;
}

.movieLabel{
-fx-text-fill: white;
-fx-font-weight: bold;
}

.button{
-fx-background-color: transparent;
-fx-text-fill: white;
-fx-font-size: 20;
-fx-font-weight: bold;
}

.button:hover {
-fx-underline: true;
}

.menu-button{
-fx-background-color: transparent;
}

.barre-recherche{
  -fx-background-image:url(file:res/magnifier.png);
  -fx-background-size: 20px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
}